.rechercher{
	margin-top: 5%;
	display: flex;
    justify-content: center;
}
.liste{
	display: flex;
	margin: auto;
	 margin-top: 25px;
	justify-content: center;
	/*width: 80%;*/
}
.liste1{
    height: 30vh;
    overflow-y: scroll;
    position: relative;

    background-color: white; 
    width: 40%;
}
body{
	margin: auto;
    background-color: #00BFFF;
}
.liste2{
	height: 30vh;
    overflow-y: scroll;
    position: relative;
   
    margin-left:10px;
    background-color: white;
    width: 40%; }
.recap{
  margin: auto;
  padding: auto;

  width: 300px;
  /* Encadré pour voir les limites du formulaire */
  padding: 2em;
  border: 3px solid #CCC;
  border-radius: 2em;
  background-color:white;
  display: block;
	margin-top: 3%;
	display: flex;
    justify-content: center;
}
h2{
	color: white;
	text-align: center;
}