footer {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	height: 400px;
	z-index: 1030;
	box-sizing: border-box;
}

body {
	margin: auto;
	background-color: #87ceeb;
}

section {
	margin-top: 40px;
}

.liste {
	height: 20vh;
	overflow-y: scroll;
	position: relative;
	width: 80%;
	margin: auto;
	background-color: white;
}

.formulaire {
	display: flex;
	margin: 10px;
	/* Encadré pour voir les limites du formulaire */
	padding: 1em;
	border: 1px solid #CCC;
	border-radius: 1em;
}

.formGauche {
	width: 50%;
}

.formDroite {
	width: 50%;
}

label {
	display: inline-block;
	width: 90px;
	text-align: left;
}

input {
	width: 200px;
	box-sizing: border-box;
}

#rechercher {
	width: 50%;
}

.rechercher {
	text-align: center;
	margin: 10px;
}

.formError {
	color: red;
	display: block;
}

.bouton {
	text-align: center;
	margin: 10px;
	font-family: cursive;
}

.mdp {
	margin-left: 10px;
}

h3 {
	color: black;
	text-align: center;
}

.formulaire {
	background-color: white;
}
ul{
	list-style-type: none;
}