body{
background-color:#00BFFF;
}
.rechercher{
  margin-top: 5%;
  display: flex;
    justify-content: center;
}
.listePatients{
    margin: auto;
    margin-top: 25px;
	padding: auto;
    height: 30vh;
    overflow-y: scroll;
    position: relative;
    background-color: white; 
    width: 60%;
}
.information{
  display: flex;
   margin-top: 25px;
  justify-content: space-around;


}
.listeConsultations{
  width: 20%;
  /* Encadré pour voir les limites du formulaire */
  padding: 2em;
  border: 3px solid #CCC;
  border-radius: 2em;
  background-color:white;

  margin-top: 3%;
  justify-content: center;
}
.FicheInfoPatient{
  width: 60%;
  /* Encadré pour voir les limites du formulaire */
  padding: 1em;
  border: 3px solid #CCC;
  border-radius: 2em;
  background-color:white;
  margin-top: 3%;
  align-items: center;

}
h2{
  color: white;
  text-align: center;
}
.FicheInfoPatient h3{
	margin-top: 6%;
}