header{
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    height: 70px;
    z-index: 1030;
    box-sizing: border-box;
}
footer{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 400px;
    z-index: 1030;
    box-sizing: border-box;
   }
body{
	margin-top:100px;
	text-align:center;
  	background-color: #87ceeb;
}
.liste1{
    margin: auto;
    margin-top: 25px;
  	padding: auto;
    height: 30vh;
    overflow-y: scroll;
    position: relative;
    background-color: white; 
    width: 60%;
}
.rechercher{
  text-align: center;
}
#rechercher{
    width: 50%;
}
.liste {
	margin: auto;
    margin-top: auto;
    margin-top: 25px;
    padding: auto;
    height: 30vh;
    overflow-y: scroll;
    position: relative;
    background-color: white;
    width: 60%;
}
.informations{
width: 40%;
padding: 2em;
border: 3px solid #CCC;
border-radius: 2em;
background-color: white;
margin-top: 3%;
margin: auto;
}
h3{
	color:white;
}
ul{
	list-style-type: none;
}