header{
	display:flex;
	justify-content: center;
}
header ul {
 padding:0;
 margin:0;
 list-style-type:none;
 }
header li {
 margin-left:2px;
 float:left; /*pour IE*/
 }
header ul li a {
 display:block;
 float:left;   
 width:100px;
 height:35px;
 background-color:#6495ED;
 color:black;
 text-decoration:none;
 text-align:center;
 padding:5px;
 border:2px solid;
 /*pour avoir un effet "outset" avec IE :*/
 border-color:#DCDCDC #696969 #696969 #DCDCDC;
 }
body{
background-color:#00BFFF;
}
.listePatients{
    margin: auto;
    margin-top: 25px;
 	padding: auto;
    height: 30vh;
    overflow-y: scroll;
    position: relative;
    background-color: white; 
    width: 60%;
}
.informations{
  display: flex;
   margin-top: 25px;
  justify-content: space-around;
}
.listeRv{
  width: 20%;
  /* Encadré pour voir les limites du formulaire */
  padding: 2em;
  border: 3px solid #CCC;
  border-radius: 2em;
  background-color:white;
  margin-top: 3%;
  justify-content: center;
}
.FicheInfoPatient{
  width: 60%;
  /* Encadré pour voir les limites du formulaire */
  padding: 1em;
  border: 3px solid #CCC;
  border-radius: 2em;
  background-color:white;
  margin-top: 3%;
  align-items: center;

}
h2{
  color: white;
  text-align: center;
}
.FicheInfoPatient h3{
	margin-top: 6%;
}