body{
background-color:#00BFFF;
}
.listePatients{
    margin: auto;
    padding:1em;
    margin-top: 25px;
 	padding: auto;
    height: 30vh;
    overflow-y: scroll;
    position: relative;
    background-color: white; 
    width: 60%;
}
.listePatients ul{
	list-style-type: none;
}
.listePatients a:hover {
  background-color: yellow;
}
.listePatients a{
  text-decoration: none;
  }

.informations{
  display: flex;
   margin-top: 25px;
  justify-content: space-around;
}
.listeRv{
  width: 20%;
  /* Encadré pour voir les limites du formulaire */
  padding: 1em;
  border: 3px solid #CCC;
  border-radius: 2em;
  background-color:white;
  margin-top: 3%;
  justify-content: center;
}

.FicheInfoPatient{
  width: 60%;
  /* Encadré pour voir les limites du formulaire */
  padding: 1em;
  border: 3px solid #CCC;
  border-radius: 2em;
  background-color:white;
  margin-top: 3%;
  align-items: center;

}
h3{
  color: white;
  text-align: center;
}
 h4{
	color:black;
	text-align: center;
}
.FicheInfoPatient h3{
	margin-top: 6%;
}