header{
	margin-top:5px;
	display:flex;
	justify-content: center;
}
header ul {
 padding:0;
 margin:0;
 list-style-type:none;
 }
header li {
 margin-left:2px;
 float:left; /*pour IE*/
 }
header ul li a {
 display:block;
 float:left;   
 width:100px;
 height:35px;
 background-color:#f5f5f5;
 box-shadow:2px 2px 3px #999;
 color:black;
 text-decoration:none;
 text-align:center;
 padding:5px;
 border:2px solid;
 /*pour avoir un effet "outset" avec IE :*/
 border-color:#DCDCDC #696969 #696969 #DCDCDC;
 }
 img{
 position:absolute;
 top:5px;
 left:10px;
 height:100px;
 }