header{
	display:flex;
	justify-content: space-between;
}
header ul {
 padding:0;
 margin:0;
 list-style-type:none;
 }
header li {
 margin-left:20px;
 float:left; /*pour IE*/
 }
header ul li a {
 display:block;
 float:left;   
 width:100px;
 height:35px;
 background-color:#f5f5f5;
 box-shadow:2px 2px 3px #999;
 color:black;
 text-decoration:none;
 text-align:center;
 padding:5px;
 border:2px solid;
 /*pour avoir un effet "outset" avec IE :*/
 border-color:#DCDCDC #696969 #696969 #DCDCDC;
 }
 img{
 top:0px;
 left:10px;
 height:100px;
 }
 header div{
 width: 33%;
 }
 .Deconnexion{
 	display:flex;
 	justify-content: right;
 	margin-top: 15px;
 	margin-right: 5px;
 }
 .logoTitre{
 display:flex;
 }
 .boutonCentrale{
 margin-top: 15px;
 display: flex;
 justify-content: center;
 }