body{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
form {
  /* Uniquement centrer le formulaire sur la page */
  min-height: 300px;

  width: 500px;
  /* Encadré pour voir les limites du formulaire */
  padding: 3em;
  border: 3px solid #CCC;
  border-radius: 2em;
  background-color:#00BFFF;
  box-sizing: border-box;
}
.champPassword{
	min-height: 60px;
}
.champIdentifiant{
	min-height: 60px;
}
.radio{
	margin-bottom: 15px;
}
.radio label{
	width: auto;
	margin-left: 20px;
}
label {
  /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
  display: inline-block;
  width: 90px;
}

button{
  margin: auto;
}