.dossier {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5em;
	width: 6em;
	display: block;
}

body {
	margin: auto;
	background-color: #00BFFF;
}

h4 {
	color: white;
	text-align: center;
}