.dossier {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5em;
	width: 6em;
	display: block;
}

body {
	margin: auto;
	background-color: #87ceeb;
}

h4 {
	color: Black;
	text-align: center;
}