<!DOCTYPE html>
<html lang="fr">
	<head>
    	<meta charset="UTF-8"/> 
    	<title>Chercher un medecin</title>
    	<meta name="author" content="N Sergent N Lourdel"/>   
    	<link rel="stylesheet" href="chercherMedecin.css" media="screen"/>
	</head>
<header>
	<h2>Mon Dossier</h2>
</header>
<body>
	<div class="rechercher">
		<form>
			<div>
  				<input type="text" id="rechercher" name="rechercher" size="100">
  				<input type="button" value="Rechercher">
  			</div>
  		</form>
	</div>
  <div class="liste">
    <div class="liste1">
      <h3>Liste des Medecins</h3>
        <ul>
          <li>JEan Marc morandini</li>
          <li>JEan Marc morandini</li>
          <li>JEan Marc morandini</li>
          <li>JEan Marc morandini</li>
          <li>JEan Marc morandini</li>
          <li>JEan Marc morandini</li>
          <li>JEan Marc morandini</li>
          <li>JEan Marc morandini</li>
          <li>JEan Marc morandini</li>
          <li>JEan Marc morandini</li>
          <li>JEan Marc morandini</li>
          <li>JEan Marc morandini</li>
          <li>JEan Marc morandini</li>
          <li>JEan Marc morandini</li>
          <li>JEan Marc morandini</li>
          <li>JEan Marc morandini</li>
        </ul>
    </div>