<!DOCTYPE html>
<html lang="fr">
	<head>
    	<meta charset="UTF-8"/> 
    	<title>Medecin</title>
    	<meta name="author" content="N Sergent N Lourdel"/>   
    	<link rel="stylesheet" href="GestionDeConsultation.css" media="screen"/>
	</head>
<header>
	<h2>Gestion consultations</h2>
</header>
<body>
	<div class="rechercher">
			<div>
  				<input type="text" id="rechercher" name="rechercher" size="100">
  				<input type="button" value="Rechercher">
  			</div>
  	</div>

 		<div class="listePatients">
			<h3>Liste des patients</h3>
				<ul>
					<li>JEan Marc morandini</li>
					<li>JEan Marc morandini</li>
					<li>JEan Marc morandini</li>
					<li>JEan Marc morandini</li>
					<li>JEan Marc morandini</li>
					<li>JEan Marc morandini</li>
					<li>JEan Marc morandini</li>
					<li>JEan Marc morandini</li>
					<li>JEan Marc morandini</li>
					<li>JEan Marc morandini</li>
					<li>JEan Marc morandini</li>
					<li>JEan Marc morandini</li>
					<li>JEan Marc morandini</li>
					<li>JEan Marc morandini</li>
					<li>JEan Marc morandini</li>
					<li>JEan Marc morandini</li>
				</ul>
</div>
  	<div class="information">
<div class = "listeConsultations">
	<!--  Date heure  a venir pour les prochaines consultations  -->
	<h3>Liste des consultations</h3>
				<ul>
					<li>JEan Marc morandini</li>
					<li>JEan Marc morandini</li>
					<li>JEan Marc morandini</li>
					<li>JEan Marc morandini</li>
					<li>JEan Marc morandini</li>
					<li>JEan Marc morandini</li>
					<li>JEan Marc morandini</li>
					<li>JEan Marc morandini</li>
					<li>JEan Marc morandini</li>
					<li>JEan Marc morandini</li>
					<li>JEan Marc morandini</li>
					<li>JEan Marc morandini</li>
					<li>JEan Marc morandini</li>
					<li>JEan Marc morandini</li>
					<li>JEan Marc morandini</li>
					<li>JEan Marc morandini</li>
				</ul>
</div>
<div class="FicheInfoPatient">
	<h3>Recapitulatif informations Patient</h3>
		<tableau>
			<tr>Nom</tr>
			<tr>Prenom</tr>
			<tr>Sexe</tr></br>
			<tr>Numero SS</tr></br>
			<tr>Adresse</tr>
			<tr>Ville</tr>
			<tr>CP</tr></br>
			<tr>Tel</tr></br>
			<tr>Email</tr>
			<tr>Date de consultation prise</tr>
		</tableau>
	</div>
</div>
</body>