<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="author" content="N Sergent N Lourdel"/>
<title th:text="${titre}">Chercher medecin</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/medecinCherche.css}" />
</head>
<header>
	<ul>
		<li><a th:href="@{/logout}">Deconnexion</a></li>
		<li><a th:href="@{/medecinListeRv}">Mes consultations</a></li>
		<li><a th:href="@{/medecinRecherche}">Chercher un medecin</a></li>
	</ul> 
</header>
<body>
	<div class="rechercher">
		<form th:action="@{/medecinCherche}" method="POST">
			<div>
  				<input type="text" id="rechercher" name="rechercher" size="300">
  				<input type="submit" value="Rechercher">
  			</div>
  		</form>
	</div>	
	<section>
		<h3>Liste des medecins</h3>
	<div class="liste">
		<ul>
			<li th:each="medecin : ${medecins}"><a th:href="@{'/adminMedecins/getMedecin/'+${medecin.id}}" th:utext="${medecin.nom}+' '+${medecin.prenom}"></a></li>
		</ul>
	</div>
	</section>
</body>